@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

#submission {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    min-height: calc(100vh - 71px - 70px);

    background-image: url("../../img/reception.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: 'Contrail One', cursive;
}

#submission form {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

#submission form * {
    text-align: center;
}